version: '3'
services:
  server:
    build: ./server
    ports:
      - 5000:5000
    volumes:
      - ./server/app.js:/srv/app/app.js
  client:
    build: ./client
    ports:
      - 3000:3000
    volumes:
      - ./client/src/:/srv/app/src
    links:
      - server